@page
@model PerformanceManagementSystem.Areas.PerformanceManagement.Pages.ManagerReports.IndexModel

@{
    ViewData["Title"] = "لیست مدیران مستقیم";
}

@if(Model.Managers.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Managers[0].Fullname)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Managers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        <a type="button" class="btn btn-sm btn-primary" asp-page="./Detail" asp-route-id="@item.Id">ارزیابی نهایی</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.ManagerEvaluation != null)
{
    <div class="card mb-3">
        <div class="card-header">
            نتیجه ارزیابی مدیر مستقیم توسط اعضای تیم
        </div>
        <div class="card-body">
            @foreach (var item in Model.ManagerEvaluation.ManagerEvaluationAverageOfAnswers)
            {
                <h6 class="card-text">@item.QuestionName</h6>
                <p class="card-text">میانگین : @item.Average</p>
            }
            <br />
            @foreach (var item in Model.ManagerEvaluation.ManagerEvaluationStringQuestions)
            {
                <h6 class="card-text"> @Html.DisplayNameFor(model => item.Continue)</h6>
                <p class="card-text">@Html.Raw(item.Continue.Replace("\r\n", "<br />"))</p>
            }
        </div>
    </div>
}
