@page
@model PerformanceManagementSystem.Areas.Admin.Pages.Users.IndexModel

@{
    ViewData["Title"] = "لیست کاربران";
}

<h1>کاربران</h1>

<p>
    <a asp-page="Create">ایجاد کاربر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a>
                    @* <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">حذف</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
