@page
@model PerformanceManagementSystem.Areas.PerformanceManagement.Pages.Exceptions.IndexModel

@{
    ViewData["Title"] = "لیست مدیران";
}
@if (Model.Managers.Any())
{
    <div class="card mb-3">
        <div class="card-header">
            انتظارات مدیران مستقیم
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Managers[0].Fullname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Managers[0].Position)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Managers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            <a type="button" class="btn btn-sm btn-primary" asp-page="./Detail" asp-route-managerId="@item.Id">انتظارات</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Users.Any())
{
    <div class="card mb-3">
        <div class="card-header">
            کاربران زیر مجموعه
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].Position)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a type="button" class="btn btn-sm btn-primary" asp-page="./Edit" asp-route-userId="@item.Id">ثبت</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
