@page
@model PerformanceManagementSystem.Areas.Admin.Pages.CompetencyCategories.IndexModel

@{
    ViewData["Title"] = "لیست دسته بندی شایستگی ها";
}

<h1>دسته بندی شایستگی ها</h1>

<p>
    <a asp-page="Create">ایجاد دسته بندی جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyCategories[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyCategories[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyCategories[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CompetencyCategories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a type="button" class="btn btn-sm btn-primary" asp-area="Admin" asp-page="/Competencies/Index" asp-route-competencyCategoryId="@item.Id">شایستگی ها</a>
                <a type="button" class="btn btn-sm btn-success" asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a>
                <a type="button" class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
