@page
@model PerformanceManagementSystem.Areas.Admin.Pages.Competencies.DeleteModel

@{
    ViewData["Title"] = "حذف";
}

<h1>حذف</h1>

<h3>آیا از حذف این مورد اطمینان دارید؟</h3>
<div>
    <h4>دسته بندی شایستگی</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competency.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competency.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competency.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competency.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competency.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competency.Active)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Competency.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-competencyCategoryId="@Model.Competency.CompetencyCategoryId">بازگشت به لیست</a>
    </form>
</div>
